/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon {
  transform-origin: center;
}

.like-icon .heart-outline {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .heart-center {
  transition: fill 0.3s 0.03s linear;
  fill: transparent;
}

.like-icon .heart-fill {
  transition: fill 0.3s linear;
  fill: transparent;
}

.like-icon .heart-flares {
  fill: var(--heart-animation-color);
  opacity: 0;
}

.like-icon:hover .heart-center {
  transition: fill 0.3s linear;
  fill: var(--heart-contour-color);
}

.like-icon:hover .heart-fill {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-contour-color);
}

.like-icon:active .heart-center {
  transition: fill 0.3s linear;
  fill: var(--heart-contour-color);
}

.like-icon:active .heart-fill {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-animation-color);
}

.like-icon:active .heart-outline {
  fill: var(--heart-contour-color);
}

.like-icon.is-liked .heart-center {
  transition: fill 0.3s linear;
  fill: var(--heart-animation-color);
}

.like-icon.is-liked .heart-fill {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-animation-color);
}

.like-icon.is-liked .heart-outline {
  transition: fill 0.3s 0.06s linear;
  fill: var(--heart-animation-color);
}

.like-icon.is-liked .heart-shape {
  animation: scale-animation 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .heart-flares {
  animation: sparks-animation 0.3s ease-in 0.3s;
}